.hero{
  background: url('https://rawredemptionphotography.com/eb.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 90%;
  height: 80vh;
  margin: 0 auto;
}